/*
color scheme: https://coolors.co/app/522b29-37ff8b-51d6ff-8d9ec6-a06b9a
brown: #522B29
green: #37FF8B
blue : #51D6FF
gloom: #8D9EC6
purpl: #51D6FF
*/
@font-face {
    font-family: titleFont;
    src: url(fonts/Adam.otf);
}

ul#menu li {
    display:inline;
    padding-left:5%;
}
ul#menu li a{
    background-color: #51D6FF;
    color: #522B29;
    padding-left:5%;
    padding-right:5%;
    padding-top:5%;
    padding-bottom:10px;
    border-bottom:1px dashed #522B29;
    
}

ul#menu li a:hover{
    background: linear-gradient(circle, rgba(255,0,0,0), #A06B9A);
    color:white;
    text-decoration:none;
}

.header {
    height:41px;
    background:#51D6FF;
    border-bottom:1px dashed #522B29;
    width:100%;
    margin:0px auto;
    position: fixed;
    top:0px;
    font-family:titleFont;
    z-index:9999;
}

body {
    background-image: url("images/background.png");
    margin:0px;
    padding-bottom:0px;
}

.intro {
    
    background-image: url("images/background.png");
    font-family: titleFont;
    background-repeat: repeat;
   /* color: #522B29;*/
    text-align: center;
    margin:0;
    padding-bottom:100px;
    padding-top: 200px;
}


.intro h1 {
    margin-left:0;
    padding-left:20%;
    padding-right:15px;
    background-color: #51D6FF;
    position:absolute;
    left:auto;
    top: 20px;
    padding-bottom:0px;
    font-size: 70px;
}

.intro p {
    margin-left:0;
    padding-left: 10%;
    padding-right:15px;
    background-color: #51D6FF;
    font-size: 40px;
    position:absolute;
    left:auto;
    top: 95px;
}


.quote{
    background-color: #A06B9A;
    color:white;
    margin-left: 10px;
    margin-right: 100px;
    padding-left:2.5%;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 3px;
    border: 1px solid #522B29;
}


.content {
    color: #522B29;
    padding-left: 100px;
    background-color: white;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:35px;
    padding-top:30px;
    padding-bottom:40px;
    border-radius: 10px;
    border: 1px dashed #522B29;
}